@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #080816;
    font-family: 'Orbitron', sans-serif;
    color: #ddd;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    margin: 20px 0;
    position: relative;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.subheading {
    font-size: 1.2rem;
    font-weight: 500;
    color: #aaa;
    margin-top: 5px;
}

.manual-btn-topright {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  background: #0f0f1a;
  color: #fff;
  border: 1px solid #333;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px #000;
  text-decoration: none;
  transition: background 0.2s, box-shadow 0.1s;
  z-index: 1000;
}
.manual-btn-topright:hover {
  background: #151527;
  box-shadow: 0 0 20px #6cf;
}

.faction-buttons {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.faction-buttons img {
    width: auto;
    height: 180px;
    border: 1.5px solid #353535;
    border-radius: 8px;
    padding: 10px;
    background: #11111f;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px #000;
}

.faction-buttons img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(74, 148, 185);
    border-color: rgb(65, 128, 160);
}
